@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

html, body{
    height : 100%;
    font-family: 'Yellowtail', cursive;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.form-control{
    font-family: Arial;
}

.loading-background
{
    z-index: 9999;
    background-color: rgba(238, 238, 238, 0.5);
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}